.button {
  border: none;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: #bd0c23;
  transition: all 0.2s;
  &:focus {
    transform: scale(0.9);
  }
}
