nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  color: black;
  background-color: white;
  p {
    font-size: 2rem;
  }
}
