@use "./button.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
}
html {
  background-color: #1d1d1d;
  color: rgb(255, 255, 255);
  font-family: system-ui;
}
