.profile-page {
  position: static;

  //   min-height: 100vh;
  background: #f4f6f9;
  padding-block: 2rem;
  padding-inline: 1rem;

  //   width: 100%;
  //   justify-content: center;

  .profile-container {
    width: 100%;
    // min-width: 0;
    max-width: 400px;
    max-height: 600px;
    height: 100%;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
  }

  /* Header */

  .profile-header {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #eee;

    .profile-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-info {
      flex: 1;

      .profile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 1rem;
          color: black;
        }

        .profile-btn {
          padding: 0.5rem 1rem;
          border: none;
          background: #1877f2;
          color: white;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            background: #0f5ed7;
          }
        }
      }

      .profile-stats {
        display: flex;
        gap: 2rem;
        margin: 1.2rem 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          strong {
            font-size: 1.2rem;
          }

          span {
            font-size: 0.6rem;
            color: gray;
          }
        }
      }

      .profile-bio {
        color: #555;
        font-size: 0.85rem;
        line-height: 1;
      }
    }
  }

  /* Grid */

  .profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 6px;
    padding: 6px;

    .grid-item {
      aspect-ratio: 1 / 1;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
