.feed-page {
  display: flex;

  flex-direction: column;
  width: 100%;
  .feed {
    max-width: 400px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    padding-block: 1.5rem;
    margin: 0 auto;
    .posts {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .post {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        background-color: #141c2c;
        box-shadow: 0 0 10px 2px rgb(89, 89, 89);
        padding: 1.2rem;
        border-radius: 1rem;
        width: 100%;
        .user {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 0.05rem;
            border: 2px solid rgba(255, 0, 0, 0);
            background: conic-gradient(
                #feda75,
                #fa7e1e,
                #d62976,
                #962fbf,
                #4f5bd5,
                #feda75
              )
              border-box;
            img {
              width: 2rem;
              aspect-ratio: 1/1;
              border-radius: 50%;
              margin: auto;
            }
          }
        }
        img {
          border-radius: 0.5rem;
        }
        .icons {
          .left {
            display: flex;
            gap: 1rem;
            svg {
              width: 1.5rem;
              aspect-ratio: 1/1;
              color: white;
            }
            button {
              background-color: transparent;
              border: none;
              outline: none;
              transition: all 0.2s;
              cursor: pointer;
              &:active {
                transform: scale(0.9);
              }
              .like {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
