* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33);
  color: whitesmoke;
  font-family: system-ui;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detect-face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  margin: auto auto;
}
